
<div class="container mt-3">
    <form action="/Request/Add_Req" method="post">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
        <label for="created_by" class="form-label">created_by</label>
        <input type="text" class="form-control" id="created_by" name="created_by">
        </div>
        <div class="mb-3">
        <label for="created_at" class="form-label">created_at</label>
        <input type="number" class="form-control" id="created_at" name="created_at">
        </div>
        <div class="mb-3">
        <label for="categories" class="form-label">categories</label>
        <input type="text" class="form-control" id="categories" name="categories">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>